#data-ago {
	background: 		$ago;
	color: 				$white;

	h2 {
		border-color:	$white;
	}
	
	@include dark-mode {

	}
}

#data-co {
	background: 		$co;
	color: 				$white;

	h2 {
		border-color:	$white;
	}
	
	@include dark-mode {

	}
}

#data-beis {
	background: 		$beis;
	color: 				$white;

	h2 {
		border-color:	$white;
	}
	
	@include dark-mode {

	}
}

#data-mhclg {
	background: 		$mhclg;
	color: 				$black;

	h2 {
		border-color:	$black;
	}
	
	@include dark-mode {

	}
}

#data-dcms {
	background: 		$dcms;
	color: 				$white;

	h2 {
		border-color:	$white;
	}
	
	@include dark-mode {

	}
}

#data-dfe {
	background: 		$dfe;
	color: 				$white;

	h2 {
		border-color:	$white;
	}
	
	@include dark-mode {

	}
}

#data-defra {
	background: 		$defra;
	color: 				$black;

	h2 {
		border-color:	$black;
	}
	
	@include dark-mode {

	}
}

#data-dfid {
	background: 		$dfid;
	color: 				$white;

	h2 {
		border-color:	$white;
	}
	
	@include dark-mode {

	}
}

#data-dit {
	background: 		$dit;
	color: 				$white;

	h2 {
		border-color:	$white;
	}
	
	@include dark-mode {

	}
}

#data-dft {
	background: 		$dft;
	color: 				$white;

	h2 {
		border-color:	$white;
	}
	
	@include dark-mode {

	}
}

#data-dwp {
	background: 		$dwp;
	color: 				$black;

	h2 {
		border-color:	$black;
	}
	
	@include dark-mode {

	}
}

#data-dhsc {
	background: 		$dhsc;
	color: 				$black;

	h2 {
		border-color:	$black;
	}
	
	@include dark-mode {

	}
}

#data-fco {
	background: 		$fco;
	color: 				$white;

	h2 {
		border-color:	$white;
	}
	
	@include dark-mode {

	}
}

#data-geo {
	background: 		$geo;
	color: 				$white;

	h2 {
		border-color:	$white;
	}
	
	@include dark-mode {

	}
}

#data-hmrc {
	background: 		$hmrc;
	color: 				$white;

	h2 {
		border-color:	$white;
	}
	
	@include dark-mode {

	}
}

#data-hmt {
	background: 		$hmt;
	color: 				$white;

	h2 {
		border-color:	$white;
	}
	
	@include dark-mode {

	}
}

#data-ho {
	background: 		$ho;
	color: 				$white;

	h2 {
		border-color:	$white;
	}
	
	@include dark-mode {

	}
}

#data-mod {
	background: 		$mod;
	color: 				$white;

	h2 {
		border-color:	$white;
	}
	
	@include dark-mode {

	}
}

#data-moj {
	background: 		$moj;
	color: 				$white;

	h2 {
		border-color:	$white;
	}
	
	@include dark-mode {

	}
}

#data-nio {
	background: 		$nio;
	color: 				$white;

	h2 {
		border-color:	$white;
	}
	
	@include dark-mode {

	}
}

#data-oags {
	background: 		$oags;
	color: 				$white;

	h2 {
		border-color:	$white;
	}
	
	@include dark-mode {

	}
}

#data-hol {
	background: 		$hol;
	color: 				$white;

	h2 {
		border-color:	$white;
	}
	
	@include dark-mode {

	}
}

#data-hoc {
	background: 		$hoc;
	color: 				$white;

	h2 {
		border-color:	$white;
	}
	
	@include dark-mode {

	}
}

#data-so {
	background: 		$so;
	color: 				$white;

	h2 {
		border-color:	$white;
	}
	
	@include dark-mode {

	}
}

#data-wo {
	background: 		$wo;
	color: 				$white;

	h2 {
		border-color:	$white;
	}
	
	@include dark-mode {

	}
}

#data-dexeu {
	background: 		$dexeu;
	color: 				$black;

	h2 {
		border-color:	$black;
	}
	
	@include dark-mode {

	}
}

#data-whips {
	background: 		$whips;
	color: 				$black;

	h2 {
		border-color:	$black;
	}
	
	@include dark-mode {

	}
}